.start {
    color: white;
    margin: 12px;
    width: 110px;
    height: 30px;
    border-radius: 7px;
    font-weight: bold;
    background: rgba(12, 13, 15, 0.445);
    border: none;
    outline: none;
    font-size: 20px;
    border: 2px solid rgba(158, 224, 83, 0.719);
}

.style-input {
    margin-bottom: 7px;
    font-size: 20px;
}